@use "sass:map";
@import "styles/variables.scss";

.container {
  position: relative;
  padding: 2.5rem 1.25rem 1.25rem;
  width: 20rem;
  height: fit-content;
  max-height: 70vh;
  overflow-y: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @media (width <= 370px) {
    width: 100%;
    max-width: 20rem;
  }

  .close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

     &:hover {
      background-color: map.get($--greys, "200");
     }
  }

  .title {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    gap: 1.25rem;

    .input_wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.35rem;

      label {
        padding-left: 3px;
        color: map.get($--greys, "900");
        font-size: 13px;
        display: flex;
        align-items: center;

        .mark__must_do {
          color: map.get($--colors, "brick-red");
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }

      input {
        padding: 0 8px;
        width: 100%;
        height: 2.25rem;
        border-radius: 4px;
        background-color: map.get($--greys, "200");
      }

      textarea {
        padding: 8px;
        height: 5rem;
        border-radius: 4px;
        background-color: map.get($--greys, "200");
      }

      .extra_menu_input_wrapper {
        display: flex;
        gap: 0.35rem;
      }

      .button_menu {
        color: #232323;
        height: 2.25rem;
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid map.get($--greys, "200");
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .add_menu_input {
        margin: 5px auto 0;
        width: 10rem;
        height: 2rem;
        color: #232323;
        
        &:disabled {
          color: map.get($--greys, "400");
          background-color: map.get($--greys, "100");
          cursor: default;
        }
      }
      .delete_menu_input {
        width: 3rem;
      }

      .noti {
        margin: 3px auto 0;
        color: map.get($--colors, "brick-red");
        font-size: 11.5px;
      }
    }
  }
}