@use "sass:map";
@import "styles/_variables.scss";

.container {
  @media (1100px < width) {
    position: -webkit-sticky; /* 사파리 브라우저 지원 */
    position: sticky;
  }
  @media (width <= 1100px) {
    position: fixed;
  }
  top: 0px;
  left: 0px;
  right: 0px;
  list-style: none;
  background-color: map.get($--colors, "off-white");
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  z-index: 1000;

  @media (1100px < width) { border-bottom: 2px solid #222; }
  @media (width <= 1100px) { border-bottom: 1.5px solid #222; }

  header {
    padding: 0 1.5rem;
    width: 100%;

    nav {
      width: 100%;
      display: flex;
      align-items: center;
    }

    @media (1100px < width) {
      .nav {
        height: $--header-height-pc;
        justify-content: space-between;
  
        .links {
          // border: 1px solid red;
  
          .logo {
            font-size: 1.125rem;
            font-weight: 600;
          }
        }
  
        .buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }

    @media (width <= 1100px) {
      .nav {
        height: $--header-height-mobile;
        justify-content: center;
  
        .links {
          padding: 4px 8px;
  
          .logo {
            font-size: 0.95rem;
            font-weight: 600;
          }
        }

        .buttons {
          display: none;
        }
      }
    }
  }
}