@use "sass:map";
@import "styles/_variables.scss";

.container {
  @media (1100px < width) {
    position: -webkit-sticky; /* 사파리 브라우저 지원 */
    position: sticky;
  }
  @media (width <= 1100px) {
    position: fixed;
  }
  top: 0px;
  left: 0px;
  right: 0px;
  list-style: none;
  background-color: map.get($--colors, "off-white");
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  z-index: 1100;

  @media (1100px < width) { border-bottom: 2px solid #222; }
  @media (width <= 1100px) { border-bottom: 1.5px solid #222; }

  header {
    width: 100%;

    nav {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .buttons {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media (1100px < width) {
      padding: 0 1.25rem;

      .nav {
        height: $--header-height-pc;
        justify-content: space-between;
  
        .links {
          // border: 1px solid red;
  
          .logo {
            font-size: 1.125rem;
            font-weight: 600;
          }
        }
  
        .buttons {
          gap: 1rem;
        }
      }
    }

    @media (width <= 1100px) {
      .nav {
        padding: 8px $--padding--mobile;
        height: $--header-height-mobile;
        justify-content: space-between;
  
        .links {
          padding: 6px $--padding--mobile 6px 0;
  
          .logo {
            font-size: 0.95rem;
            font-weight: 600;
          }
        }

        .buttons {
          gap: 0.75rem;
        }
      }
    }
  }
}

.button_user_space {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  &:hover {
    background-color: #f7f7f7;
  }
}

.backdrop_popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup_user {
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 12px;
  background-color: map.get($--colors, "off-white");
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all .12s ease;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (width <= 1100px) {
    top: 2.5rem;
  }

  .wrapper_modification_nickname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;

    .button_user_icon {
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .input_nickname {
      padding: 0 5px;
      width: 7.7rem;
      height: 2rem;
      border-radius: 5px;
      background-color: map.get($--colors, "blush");

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (width <= 1100px) { 
        font-size: 15px;
        width: 9rem;
      }

      &:disabled {
        background-color: transparent;
      }
    }

    .wrapper_status {
      min-width: 2rem;
      width: 2rem;
      height: 2rem;
      color: #232323;
      font-size: 12px;
      border-radius: 5px;
      transition: all .4s ease;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .icon_pencil {
      &:hover {
        background-color: map.get($--colors, "blush");
      }
    }
  }
  .wrapper_buttons {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}