@use "sass:map";
@import "styles/variables.scss";

.header {
  padding: 8px 6px 8px $--padding--mobile;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  list-style: none;
  background-color: white;
  border-bottom: 1px solid map.get($--greys, "300");
  height: $--header-height-mobile;
  z-index: 1100;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.section {
  &-left {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  button {
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
}

.move-to-home {
  border: 1px solid rgba(0, 0, 0, 0.08);
}