@use "sass:map";
@import "styles/_variables.scss";

@media (1100px < width) {
  .container {
    position: relative;
    padding: 0 0.5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem; // 4px
    border: 1.5px solid #222;
    background-color: map.get($--colors, "crystal-blue");
  
    input {
      padding: 0.5rem 0.6rem;
      width: 100%;
      max-width: 8rem;
      font-size: 16px;
      font-weight: 500;
    }
    input::placeholder {
      color: map.get($--colors, "off-white");
      color: #222;
      font-weight: 500;
    }
  
    .search_icon {
      cursor: pointer;
    }
  
    .auto_complete {
      position: absolute;
      top: 38px;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2px;
      border: 1.5px solid #222;
      background-color: white;
  
      .item {
        padding: 0.3rem 0.4rem;
        background-color: #ffffff;
        cursor: default;
      }
      .item:hover {
        font-weight: 600;
        background-color: map.get($--colors, "crystal-blue");
      }
  
      .station {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .line_num {
          font-size: 11px;
          font-weight: 400;
        }
      }
  
      .active {
        font-weight: 600;
        background-color: map.get($--colors, "crystal-blue");
      }
    }
  }
}

@media (width <= 1100px) {
  .container {
    position: relative;
    width: 10rem;
    height: 100%;
    border-radius: 4px;
    background-color: map.get($--colors, "blush");
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.125rem;
  
    input {
      padding: 6px 8px 5.5px;
      width: 100%;
      height: 100%;
      font-size: 16px;
      font-weight: 400;

      &::placeholder {
        color: map.get($--colors, "brick-red");
        color: map.get($--greys, "700");
      }
    }
    .search_icon {
      padding-bottom: 1px;
      width: 3rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .auto_complete {
      padding: 4px;
      position: absolute;
      top: 40px;
      width: 100%;
      border-radius: 4px;
      border: 1.5px solid map.get($--greys, "700");
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 2px;
  
      .item {
        padding: 4px 5px;
        border-radius: 4px;
        background-color: #ffffff;
        cursor: default;
      }
      .item:hover {
        font-weight: 600;
        background-color: map.get($--colors, "blush");
      }
  
      .station {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .line_num {
          font-size: 11px;
          font-weight: 400;
        }
      }
  
      .active {
        font-weight: 600;
        background-color: map.get($--colors, "crystal-blue");
      }
    }
  }
}