@use "sass:map";
@import "styles/variables.scss";

.image-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  background-color: white;
  border: 1px solid map.get($--greys, "200");

  &-header {
    width: 100%;
    height: 3rem;
    padding: 0 0.5rem;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-bottom: 1px solid map.get($--greys, "200");

    span {
      user-select: none;
    }

    &-close {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-list {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;

    &-outer {
      padding: 0.75rem;
      overflow: auto;
      height: calc(100% - 3rem);
    }
  
    &-image {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
  
      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
  
      &-content {
        object-fit: cover;
      }
  
      &-last {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #eeeeee;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}