@use "sass:map";
@import "styles/variables.scss";

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes show-loading {
  0% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes hide-loading {
  0% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    background-color: rgba(255, 255, 255, 0.4);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
  }
}

.wrapper {
  padding: 1rem;
  padding-left: 0;
  position: relative;
  width: 380px;
  animation: fade-in 0.5s ease-out 0.1s 1 alternate both;
  
  @media (max-width: 1100px) {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .show_loading {
    animation: show-loading 1s ease-out 0s 1 alternate both;
  }
  .hide_loading {
    animation: hide-loading 1s ease-out 0s 1 alternate both;
  }

  opacity: 0;

  .outer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;

    @media (max-width: 1100px) {
      border-radius: 0;
    }
  }
  
  .content {
    position: relative;
    border-radius: 10px;
    border: 1px solid map.get($--greys, "200");
    background-color: map.get($--greys, "50");
    padding-bottom: 0.5rem;
    height: 100%;
    overflow-y: auto;

    @media (max-width: 1100px) {
      border-radius: 0;
      border: none;
    }

    .back-gradation {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 2.75rem;
      background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
      z-index: 1;
    }

    .close {
      position: absolute;
      top: 6px;
      right: 6px;
      border-radius: 4px;
      transition: all 0.12s ease;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .card_detail_carousel {
    width: 100%;
    aspect-ratio: 3 / 2;

    @media (min-width: 1101px) {
      max-width: 380px;
    }
    @media (max-width: 1100px) {
      max-width: 100%;
    }
  }

  .card_detail_content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    .header {
      padding: 1.125rem 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;

      .title_wrap {
        padding-top: 3px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 4px;

        .title {
          color: #222;
          font-size: 19px;
          font-weight: 600;
        }
        .category {
          min-width: fit-content;
          color: map.get($--greys, '500');
        }
      }

      .heart_icon {
        padding: 3px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: map.get($--colors, gray-400);
}

.section {
  padding: 10px 0;

  .title {
    margin-bottom: 0.5rem;
    color: #232323;
    font-size: 15px;
  }

  .info {
    color: #333;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1rem 1fr;
    gap: 8px;

    .left {
      padding-top: 1px;
      display: flex;
      justify-content: flex;
      align-items: flex-start;
    }

    .subway {
      &-wrapper {
        margin-top: 7px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.2rem;
      }

      &-line {
        padding: 0 5px;
        min-width: 16px;
        height: 16px;
        color: white;
        font-size: 11px;
        border-radius: 2.5px;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-name {
        margin-left: 1px;
        font-size: 13px;
      }
    }

    .opening_hours {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .time_wrap {
        padding: 3px 0;
        display: flex;
        flex-direction: column;
        gap: 2px;

        .day {
          margin: 0 auto;
          font-size: 12.5px;
          display: flex;
          justify-content: center;
        }
        .time {
          font-size: 12px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      .today_active {
        padding: 3px 4px;
        color: map.get($--colors, 'brick-red');
        font-weight: 600;
        border-radius: 3px;
        background-color: map.get($--colors, 'blue-300');
      }
    }
  }

  .main_menus {
    color: #222;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      .checkbox {
        margin-left: 1px;
        width: 14px;
        height: 14px;
        border-radius: 20rem;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .additional_info {
    margin-top: 6px;
    padding: 8px;
    color: map.get($--greys, '700');
    font-size: 13px;
    border-radius: 4px;
    background-color: map.get($--greys, '200');
  }
}
