@use "sass:map";
@import "styles/variables.scss";

.embla {
  position: relative;
  height: 100%;
}
.embla__viewport {
  height: 100%;
  overflow: hidden;
}
.embla__container {
  height: 100%;
  display: flex;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  position: relative;
  object-fit: cover;
  flex: 0 0 100%;
  min-width: 0;
}

.embla__button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  &-prev {
    padding-right: 2px;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }
  &-next {
    padding-left: 2px;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
  &__svg {
    width: 80%;
    height: 80%;
    color: #333;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: default;

    .embla__button__svg {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.embla__dots {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
}
.embla__dot {
  width: 7px;
  height: 7px;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.3);

  &-selected {
    background-color: rgba(0, 0, 0, 0.7);
  }
}