@use "sass:map";
@import "styles/_variables.scss";

.container {
  background-color: map.get($--colors, "off-white");

  display: grid;
  overflow: hidden;

  @media (1100px < width) {
    height: calc(100vh - $--header-height-pc - 2px); // 2px : header's border-bottom
    grid-template-columns: 1fr 380px;

    .map {
      border-right: 2px solid #666;
    }

    .bakeries_wrap {
      display: flex;
      justify-content: flex-end;
      background-color: map.get($--colors, "blush");
      overflow-y: hidden;

      .cards {
        width: 380px;
        padding: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        overflow-y: auto;
      }
    
      .floating_button {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .registration_bakery {
        width: 3rem;
        height: 3rem;
        border-radius: 20rem;
        border: 1.5px solid #222;
        background-color: map.get($--colors, "desert-gold");
      }
    }
  }

  @media (width <= 1100px) {
    position: fixed;
    top: $--header-height-mobile;
    left: 0;
    right: 0;
    bottom: 0;

    .map {
      // border: 1px solid blue;
    }

    .bakeries_wrap {
      display: none;
    }
  }
}

.hasDetail {
  @media (1100px < width) {
    grid-template-columns: 2fr 760px;
  }
  
  @media (width <= 1100px) {
    grid-template-columns: 1fr;
  }
}

// 지하철 호선 색상
// https://namu.wiki/w/%EC%88%98%EB%8F%84%EA%B6%8C%20%EC%A0%84%EC%B2%A0%201%ED%98%B8%EC%84%A0
