@use "sass:map";
@import "styles/variables.scss";

:root {
  --rsbs-ml: auto;
  --rsbs-mr: auto;
  --rsbs-max-w: 600px;
  --rsbs-handle-bg: #d1d6db;
  [data-rsbs-header] {
    box-shadow: none;
  }
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
textarea,
button,
input,
a {
  all: unset;
  box-sizing: border-box;
}
textarea,
input {
  @media (max-width: 1100px) {
    font-size: 16px;
  }
}
button { cursor: pointer; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.padding-x-mobile {
  padding: 0 $--padding--mobile;
}

.padding-y-mobile {
  padding: $--padding--mobile 0;
}

.padding-xy-mobile {
  padding: $--padding--mobile;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: map.get($--colors, 'gray-100');
}

*::-webkit-scrollbar {
  width: 7px; // 세로 스크롤
  height: 7px; // 가로 스크롤 
} // 스크롤바 전체

*::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 3px;
} // 스크롤바 막대

*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #eee;
  max-width: 8px;
} // 스크롤바 막대 외부

*::-webkit-scrollbar-corner {
  background-color: #eee;
} // 세로 스크롤 막대와 가로 스크롤 막대가 모두 만나는 스크롤 막대의 오른쪽 아래 모서리 부분

#subway-station-line-01호선 { background-color: map.get($--subway-line-bg, "1호선"); }
#subway-station-line-02호선 { background-color: map.get($--subway-line-bg, "2호선"); }
#subway-station-line-03호선 { background-color: map.get($--subway-line-bg, "3호선"); }
#subway-station-line-04호선 { background-color: map.get($--subway-line-bg, "4호선"); }
#subway-station-line-05호선 { background-color: map.get($--subway-line-bg, "5호선"); }
#subway-station-line-06호선 { background-color: map.get($--subway-line-bg, "6호선"); }
#subway-station-line-07호선 { background-color: map.get($--subway-line-bg, "7호선"); }
#subway-station-line-08호선 { background-color: map.get($--subway-line-bg, "8호선"); }
#subway-station-line-09호선 { background-color: map.get($--subway-line-bg, "9호선"); }
#subway-station-line-경의선 { background-color: map.get($--subway-line-bg, "경의중앙선"); }
#subway-station-line-경의중앙선 { background-color: map.get($--subway-line-bg, "경의중앙선"); }
#subway-station-line-신분당선 { background-color: map.get($--subway-line-bg, "신분당선"); }
#subway-station-line-수인분당선 { background-color: map.get($--subway-line-bg, "수인분당선"); }
#subway-station-line-공항철도 { background-color: map.get($--subway-line-bg, "공항철도"); }
#subway-station-line-인천1호선 { background-color: map.get($--subway-line-bg, "인천1호선"); }
#subway-station-line-인천2호선 { background-color: map.get($--subway-line-bg, "인천2호선"); }
#subway-station-line-의정부경전철 { background-color: map.get($--subway-line-bg, "의정부경전철"); }
#subway-station-line-우이신설경전철 { background-color: map.get($--subway-line-bg, "우이신설선"); }
#subway-station-line-김포골드라인 { background-color: map.get($--subway-line-bg, "김포골드라인"); }
#subway-station-line-용인에버라인 { background-color: map.get($--subway-line-bg, "용인에버라인"); }
#subway-station-line-신림선 { background-color: map.get($--subway-line-bg, "신림선"); }
#subway-station-line-경강선 { background-color: map.get($--subway-line-bg, "경강선"); }
#subway-station-line-경춘선 { background-color: map.get($--subway-line-bg, "경춘선"); }