* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
textarea,
button,
input,
a {
  all: unset;
  box-sizing: border-box;
}
textarea,
input {
  @media (max-width: 1100px) {
    font-size: 16px;
  }
}
button { cursor: pointer; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}