@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  box-sizing: border-box;
}
button,
input,
a {
  all: unset;
  box-sizing: border-box;
}
button { cursor: pointer; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}