@use "sass:map";
@import "styles/variables.scss";

.banner {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;

  &-empty {
    border-radius: 0.4rem;
    border: 1px solid map.get($--colors, gray-300);
    background-color: map.get($--colors, gray-200);
  }
}