@use "sass:map";
@import "styles/variables.scss";

.section {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &-inner {
    padding: 0 32px;
    position: relative;
    width: 100%;
    max-width: 900px;

    @media (max-width: 500px) {
      padding: 0 24px;
    }

    &-title {
      padding: 3rem 0 1.3rem;
      font-size: 45px;
      font-weight: 700;
      word-break: keep-all;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 649px) {
        padding: 2rem 0 1rem;
        font-size: 30px;
        text-align: left;
      }
      @media (max-width: 500px) {
        justify-content: flex-start;
      }

      &-sub {
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
        word-break: keep-all;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 649px) {
          font-size: 19px;
          text-align: left;
          line-height: 1.2;
        }
        @media (max-width: 500px) {
          justify-content: flex-start;
        }
      }
    }
    &-image {
      padding: 2.5rem 0 3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &-content {
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      }
    }
  }
}