@use "sass:map";
@import "styles/variables.scss";

.section {
  background: linear-gradient(150deg, #DAF1F1, #E1EDFC);
  display: flex;
  justify-content: center;
  align-items: center;

  &-inner {
    padding: 0 32px;
    position: relative;
    width: 100%;
    max-width: 860px;
    height: 45rem;

    @media (max-width: 649px) {
      height: fit-content;
    }
    @media (max-width: 500px) {
      padding: 0 24px;
    }

    &-line {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100vw - 8px);
      height: 8px;
      background-color: map.get($--colors, 'brick-red');
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 800px) {
        top: 60%;
      }

      &-inner {
        position: relative;
        width: 100%;
        height: 2px;

        &-circle {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 3.5rem;
          height: 3.5rem;
          font-size: 15px;
          font-weight: 500;
          border-radius: 20rem;
          border: 7px solid map.get($--colors, 'brick-red');
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;

          &-01 {
            left: 8%;
          }
          &-02 {
            left: 24%;
          }
          &-03 {
            left: 40%;
          }
          &-04 {
            right: 5%;
          }
        }
      }
    }

    &-title {
      padding: 8rem 0 0;
      max-width: 25rem;
      font-size: 45px;
      font-weight: 700;
      word-break: keep-all;

      @media (min-width: 650px) and (max-width: 800px) {
        max-width: 20rem;
      }
      @media (max-width: 649px) {
        padding: 6rem 0 2rem;
        max-width: 18rem;
        font-size: 30px;
      }
    }
    &-image {
      position: absolute;
      top: 50%;
      right: 32px;
      transform: translateY(-50%);

      @media (max-width: 649px) {
        position: static;
        transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &-button {
      position: absolute;
      left: 3rem;
      bottom: 7rem;
      padding: 1.25rem 2.25rem;
      color: #ffffff;
      font-size: 20px;
      border-radius: 20rem;
      background-color: map.get($--colors, 'brick-red');
      transition: all 0.12s;

      &:hover {
        background-color: #00579e;
      }

      @media (max-width: 649px) {
        position: static;
        margin: 2rem 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}