@use "sass:map";
@import "styles/variables.scss";

.tr {
  cursor: pointer;

  &:hover {
    background-color: map.get($--colors, "gray_1");
  }
}
.tr_active {
  background-color: map.get($--colors, "blue-200");
  
  &:hover {
    background-color: map.get($--colors, "blue-200");
  }
}
.tr_disabled {
  cursor: default;

  &:hover {
    background-color: transparent;
  }
}

.tr_is_selected {
  background-color: map.get($--colors, "gray_1");
}

.td {
  padding: 0.75rem 0.25rem;
  font-size: 13px;
  word-break: break-all;
  width: 100%;
}

.th {
  padding: 1.25rem;
  font-size: 13px;
  font-weight: 500;
  word-break: break-all;
}

.container {
  height: 100%; // important
  overflow-y: hidden; // important

  display: flex;
  flex-direction: column;
}
.table_wrap {
  background-color: white;
  border-radius: 0.4rem;
  border: 1px solid map.get($--colors, "gray_3");
  height: 100%; // important
  overflow-y: auto; // important
}

.table {
  width: 100%;
  color: #171717;
  table-layout: fixed;
  border: none;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
    box-shadow: 0 0.25px 0 0 map.get($--colors, "gray_3");

    tr {
      border-bottom: 1px solid map.get($--colors, "gray_3");
    }

    .order {
      padding: 0.125rem;
      font-size: 13px;
      font-weight: 500;
      word-break: break-all;
    }
  }

  tbody tr {
    border-top: 0.5px solid map.get($--colors, "gray_3");
  }
  th:first-child,
  td:first-child {
    width: 4.5rem;
  }

}

// rowSpan 2 이상인 경우 스크롤 시 border 고정 안 되는 이슈 - https://holystory-dev.com/273
.custom {
  border-collapse: separate;
  border-spacing: 0;

  th, td {
    border-bottom: 0.5px solid map.get($--colors, gray_3);
  }
  
}

.empty_msg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// 페이지네이션
.pagination {
  // border: 1px solid red;
  padding-top: 1rem;
  position: relative;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_section {
  display: flex;
  justify-content: center;

  .pagination_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;

    .page_number_box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .page_number {
        padding: 1px 0.2rem 0;
        min-width: 24px;
        height: 24px;
        color: #666;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        border: 1px solid transparent;
        transition: all 0s;
      }
      .page_number:hover {
        // color: #FFFFFF;
        // border: 1px solid #171717;
        // background-color: #171717;
        color: #171717;
        border: 1px solid map.get($--colors, "gray_3");
        background-color: map.get($--colors, "gray_3");
      }
      .active {
        color: #171717;
        border: 1px solid #171717;
        // background-color: #171717;
      }
      .active:hover {
        color: #171717;
        border: 1px solid #171717;
        background-color: transparent;
        cursor: default;
      }
    }

    .pagination_arrow_box {
      display: flex;

      .arrow_icon_box {
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        cursor: default;
      }
      .arrow_icon_box:hover {
        background-color: #fff;
      }
      .active_arrow {
      }
      .active_arrow:hover {
        background-color: #f2f4f7;
        cursor: pointer;
      }
    }
  }
}
.currentAndTotalPage {
  position: absolute;
  top: 40%;
  right: 0;
  font-size: 12px;
  transform: translateY(-50%);

  span {
    padding: 0 2px;
    color: #171717;
    font-size: 12px;
    border-radius: 3px;
    // border: 1px solid map.get($--colors, "gray_3");
  }
}