@use "sass:map";
@import "styles/variables.scss";

.bakery_cards_wrapper {
  width: 100%;
  height: calc($--wrapper-height - $--header-height);
  background-color: map.get($--greys, "100");
  overflow-x: auto;

  .bakery_cards {
    padding: $--padding--mobile;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $--padding--mobile;

  }
  .empty_msg {
    padding: $--padding--mobile;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    color: map.get($--greys, "800");
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
}