$--padding--mobile: 14px;

$--header-height-pc: 5rem;
$--header-height-mobile: 2.75rem;
$--navbar-height: 4.25rem;

$--wrapper-height: 400px;
$--header-height: 25px;
$--search-height: 45px;

$--colors: (
  // "primary": #f63156,
  "off-white": #F5ECE9,
  // "off-white": #FFFEFA,
  "brick-red": #E8674D,
  "park-green": #62B273,
  // "park-green": #FFF6D2,
  // "crystal-blue": #132FBA,
  // "crystal-blue": #FFF6D2,
  "crystal-blue": #CEEADD,
  // "desert-gold": #799CF0,
  "desert-gold": #E8A13A,
  // "blush": #FFFEFA
  "blush": #EED6C5
);

$--greys: (
  "50": #f9fafb,
  "100": #f2f4f6,
  "200": #e5e8eb,
  "300": #d1d6db,
  "400": #b0b8c1,
  "500": #8b95a1,
  "600": #6b7684,
  "700": #4e5968,
  "800": #333d4b,
  "900": #191f28,
);

$--subway-line-bg: (
  "1호선": #004b85,
  "2호선": #00a13e,
  "3호선": #eb6000,
  "4호선": #049cce,
  "5호선": #794598,
  "6호선": #723a1c,
  "7호선": #686f2d,
  "8호선": #e60169,
  "9호선": #a49f88,
  "경의중앙선": #61c0ae,
  "신분당선": #c42d31,
  "수인분당선": #e2a30e,
  "공항철도": #036090,
  "인천1호선": #83b0e0,
  "인천2호선": #f5a664,
  "의정부경전철": #dc7003,
  "우이신설선": #b8ca06,
  "김포골드라인": #957227,
  "용인에버라인": #6eb42c,
  "신림선": #6676b8,
);
// 서울 지하철 노선 색상표
// https://mediahub.seoul.go.kr/archives/2009879
// https://librewiki.net/wiki/%ED%8B%80:%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD_%EC%B2%A0%EB%8F%84_%EB%85%B8%EC%84%A0%EC%83%89