$--header-height: 5rem;

$--header-height: 5rem;

$--colors: (
  // "primary": #f63156,
  "off-white": #F5ECE9,
  "brick-red": #E8674D,
  "park-green": #62B273,
  "crystal-blue": #CEEADD,
  "desert-gold": #E8A13A,
  "blush": #EED6C5
);

$--greys: (
  "50": #f9fafb,
  "100": #f2f4f6,
  "200": #e5e8eb,
  "300": #d1d6db,
  "400": #b0b8c1,
  "500": #8b95a1,
  "600": #6b7684,
  "700": #4e5968,
  "800": #333d4b,
  "900": #191f28,
);
