@use "sass:map";
@import "styles/variables.scss";

.menu {
  padding: 0 0 $--padding--mobile;
}

.menu-card {
  font-size: 13px;
  color: map.get($--colors, "gray-1000");
  padding: calc($--padding--mobile + 2px) $--padding--mobile;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  &-left {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &-main {
      font-size: 12px;
      padding: 3px 6px;
      margin-bottom: 1px;
      width: fit-content;
      border-radius: 10rem;
      color: map.get($--colors, "background-100");
      background-color: map.get($--colors, "gray-1000");
    }

    &-name {
      font-size: 17px;
      font-weight: 600;
    }

    &-desc {
      font-size: 14px;
      color: map.get($--colors, "gray-900");
    }

    &-price {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &-right {
    &-image {
      width: 8rem;
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      background-color: map.get($--colors, 'gray-200');
      cursor: pointer;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      &-empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: map.get($--colors, 'gray-800');
        font-size: 13px;
      }
    }
  }

  // &-content {
  //   word-break: break-all;
  //   white-space: pre-line;
  //   overflow-wrap: break-word;
  // }
}